/*------------------------------------*\
  Components > Buttons
\*------------------------------------*/

$btn-bg:       $bg-color-dark;
$btn-bg-hover: $color-text;

.c-btn {
  display: inline-block;
  padding: half($base-spacing-unit) double($base-spacing-unit);

  cursor: pointer;
  transition: $global-transition;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  line-height: inherit;

  border: 0;
  border-radius: 0;

  color: $color-white;
  background-color: $btn-bg;
  font-size: $font-size-medium;

  @include attention() {
    text-decoration: none;
    background-color: $btn-bg-hover;
  }

  &--full {
    width: 100%;
  }

  &--small {
    padding: quarter($base-spacing-unit) $base-spacing-unit;
  }
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 1px solid gold;
}

.button1:hover {
  background-color: gold;
  color: white;
}
